<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2 align="center">Managing Dais</h2>
    <form class="form1" method="post" action="/deskNurse">
        <div class="container">
            <label for="patientID"><b>Patient ID: </b></label>
            <input name="patientID" type="text" style="float:right"><br /><br />

            <label for="temparature"><b>Temperature: </b></label>
            <input name="temparature" type="text" style="float:right"><br /><br />

            <label for="heartRate"><b>Heart Rate: </b></label>
            <input name="heartRate" type="text" style="float:right"><br /><br />

            <label for="bloodPressure"><b>Blood Pressure: </b></label>
            <input name="bloodPressure" type="text" style="float:right"><br /><br />

            <label for="respiratoryRate"><b>Respiratory Rate: </b></label>
            <input name="respiratoryRate" type="text" style="float:right"><br /><br />

            <button type="submit" class="registerbtn">Submit Report</button><br /><br />
        </div>
    </form>
</body>
</html>