<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <h2 align="center">Hospital Desk</h2>
    </div>

    <table align="center">
        <tr>
            <td> <a href="/"></a>Send an Emergency Alert</td>
        </tr>
        <tr>
            <td> <a href="/signinNurse"></a>View Motivational Tips</td>
        </tr>
        <tr>
            <td><a href="/deskPatient">Enter Daily Information </a></td>
        </tr>
    </table>
</body>
</html>