<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <h2 align="center">Hospital Desk</h2>
    </div>

    <table align="center">
        <tr>
            <td> <a href="/deskNurse"></a>Enter Patient Information</td>
        </tr>
        <tr>
            <td> <a href="/signinNurse"></a>Retrieve Patient Information</td>
        </tr>
        <tr>
            <td><a href="/signinPatient">Send Motivational Tips</a></td>
        </tr>
    </table>
</body>
</html>