<div class="form">
    <table>
        <tr>
            <td>Date:</td>
            <td>{{ data.created }}</td>
        </tr>
        <tr>
            <td>Temparature:</td>
            <td>{{ data.temparature }}</td>
        </tr>
        <tr>
            <td>Heart Rate:</td>
            <td>{{ data.heartRate }}</td>
        </tr>
        <tr>
            <td>Blood Pressure:</td>
            <td>{{ data.bloodPressure }}</td>
        </tr>
        <tr>
            <td>Respiratory Rate:</td>
            <td>{{ data.respiratoryRate }}</td>
        </tr>
    </table>
</div>
